# OS
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# Common build outputs
build/
out/
bin/
obj/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
app/build/
*.iml